* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei";
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: none;
    color: red;
}
.clearfix:after{
    clear: both;
    content: "";
    display: block;
}
.clearfix{
    zoom: 1;
}
body{
    background-color: #e2ddc7;
    background-image: url("/static/images/banner.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
/*header*/
header{
    height: 300px;
    position: relative;
}
.dog,.dog img, .dog span{
    position: absolute;
    bottom: 0;
    vertical-align: baseline;
}
.dog,.dog img{
    left: 0;
}
.dog span{
    display: inline-block;
    font-family: "Lucida Calligraphy";
    font-size: 40px;
    color: darkolivegreen;
    left: 240px;
    width: 400px;
}

.contentHeader{
    display: block;
    position: relative;
    height: 40px;
    background-color: burlywood;
}
.linkLef, .linkRig{
    display: inline-block;
    width: 50%;
    float: left;
    font-family: "Microsoft YaHei";
}
.linkRig{
    text-align: right;
}
.linkRig span{
    margin-right: 5px;
    color: #ffffff;
}
.linkLef a, .linkRig a{
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    color: #ffffff;
}
.linkLef a{
    border-right: solid 1px papayawhip;
}
.linkRig a{
    border-left: solid 1px papayawhip;
}
.linkLef a:hover, .linkRig a:hover{
    background-color: papayawhip;
    color: black;
}
.contentBody{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.leftBox, .rightBox{
    display: block;
    float: left;
}
.leftBox{
    width: 65%;
    margin-right: 2%;
}
.rightBox{
    width: 33%;
}
/*footer*/
footer{
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: darkolivegreen;
}