<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title id="AllTitle">{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="/static/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/common.js"></script>
    {% block javascript %}
    {% endblock %}
    <link rel="shortcut icon" href="/static/myIco.ico" type="image/x-icon"/>
    <link href="/static/stylesheets/style.css" rel="stylesheet"/>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div class="content">
    {% include "./header.html" ignore missing %}
    {% include "./contentHeader.html" ignore missing %}
    <div class="contentBody clearfix">
        <h1>{{ message }}</h1>
        <h2>{{ error["status"] }}</h2>
        <pre>{{ error.stack }}</pre>
    </div>
    {% include "./footer.html" ignore missing %}
</div>
<script type="text/javascript" src="/static/javascripts/index.js"></script>
<script type="text/javascript" src="/static/javascripts/logout.js"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
