{% extends "layout.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/javascripts/jquery.min.js"></script>
<script type="text/javascript">

</script>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block main %}
<div class="contentBody clearfix">
    <div id="table">

    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/javascripts/logout.js"></script>
<script type="text/javascript" src="/static/javascripts/management.js"></script>
{% endblock %}