<div class="rightBox">
    <div id="personalInfo">
        <div class="personTitle">
            <h3>个人资料</h3>
        </div>
        <div class="personContent">
            <div class="row">
                <span class="leftTitle">昵称：</span><span id="username">{{username}}</span>
            </div>
            <div class="row">
                <span class="leftTitle">园龄：</span><span id="blogAge"></span>天
            </div>
            <div class="row">
                <span class="leftTitle">随笔：</span><span id="articleNum"></span>篇
            </div>
        </div>

    </div>
    <div>
        <div class="personTitle">
            <h3>博客日历</h3>
        </div>
        <div id="blogCalendar"></div>
    </div>
</div>