{% extends "layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block javascript %}

<script type="text/javascript" src="/static/xheditor-1.2.2/xheditor-1.2.2.min.js"></script>
<script type="text/javascript" src="/static/xheditor-1.2.2/xheditor_lang/zh-cn.js"></script>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block main %}
<div class="addArticleBody">
    <h2 class="personTitle addh2">添加随笔</h2>
    <form class="editForm">
        <div class="editRow">
            <h3>随笔标题</h3>
            <input type="text" id="articleTitle">
        </div>
        <div class="editRow">
            <h3>内容</h3>
            <textarea name="content" id="elm1"></textarea>
        </div>
    </form>
    <div>
        <button type="submit" id="submit">发布</button>
        <button type="submit" id="cancel">取消</button>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var editor = $('#elm1').xheditor({
        tools:'simple',
        skin:'default',
        showBlocktag:true,
        internalScript:true,
        internalStyle:true,
        width:690,
        height:400,
        fullscreen:false,
        sourceMode:false,
        forcePtag:true,
        upImgUrl:"upload.php",
        upImgExt:"jpg,jpeg,gif,png"
    });
    editor.focus();
    editor.setSource($("#elm1").val());
    $("#submit").click(function () {
        var titleStr = $("#articleTitle").val();
        var contentStr = editor.getSource();
        var myDate = new Date();
        var dateStr = myDate.toLocaleDateString()+" "+myDate.toLocaleTimeString();
        var username = $("#userNAME").text();
        $.ajax({
            url: '/article/addArticle',
            dataType: "json",
            type: "post",
            data: {
                username: username,
                articleTitle: titleStr,
                articleContent: contentStr,
                articleTime: dateStr
            },
            success: function (result) {
                if (result.code === 200){
                    location.href = '/';
                }
            }
        })
    });
    $("#cancel").click(function () {
        if (confirm("确认取消吗？")){
            location.href = '/management.html';
        }
    });
</script>
{% endblock %}