{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/javascripts/jquery.min.js"></script>
<script type="text/javascript">
    function getparm(){
        var url=location.href;
        var tmp1=url.split("?")[1];
        var id=tmp1.split("=")[0];
        var idValue=tmp1.split("=")[1];
        return idValue;
    }
</script>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block main %}
<div id="article"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/javascripts/article.js"></script>
{% endblock %}